JobApplicationClient/src/META-INF/wsdl/localhost_36885/JobPortal/JobApplication.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="JobApplication">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://localhost:36885/JobPortal/JobApplication?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getJobDetails">
<part name="parameters" element="tns:getJobDetails"/>
</message>
<message name="getJobDetailsResponse">
<part name="parameters" element="tns:getJobDetailsResponse"/>
</message>
<message name="getJobInfo">
<part name="parameters" element="tns:getJobInfo"/>
</message>
<message name="getJobInfoResponse">
<part name="parameters" element="tns:getJobInfoResponse"/>
</message>
<message name="applyJob">
<part name="parameters" element="tns:applyJob"/>
</message>
<message name="applyJobResponse">
<part name="parameters" element="tns:applyJobResponse"/>
</message>
<portType name="JobApplication">
<operation name="hello">
<input wsam:Action="http://controller/JobApplication/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controller/JobApplication/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getJobDetails">
<input wsam:Action="http://controller/JobApplication/getJobDetailsRequest" message="tns:getJobDetails"/>
<output wsam:Action="http://controller/JobApplication/getJobDetailsResponse" message="tns:getJobDetailsResponse"/>
</operation>
<operation name="getJobInfo">
<input wsam:Action="http://controller/JobApplication/getJobInfoRequest" message="tns:getJobInfo"/>
<output wsam:Action="http://controller/JobApplication/getJobInfoResponse" message="tns:getJobInfoResponse"/>
</operation>
<operation name="applyJob">
<input wsam:Action="http://controller/JobApplication/applyJobRequest" message="tns:applyJob"/>
<output wsam:Action="http://controller/JobApplication/applyJobResponse" message="tns:applyJobResponse"/>
</operation>
</portType>
<binding name="JobApplicationPortBinding" type="tns:JobApplication">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJobDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJobInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="applyJob">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JobApplication">
<port name="JobApplicationPort" binding="tns:JobApplicationPortBinding">
<soap:address location="http://localhost:36885/JobPortal/JobApplication"/>
</port>
</service>
</definitions>